<h2>New Event</h2>

<form action="/events" method="post">
    <table>
        <tr>
            <td>Title: </td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>Day of week: </td>
            <td><input type="text" name="event_time"></td>
        </tr>
        <tr>
            <td>Location: </td>
            <td><input type="text" name="location"></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td><textarea name="description"></textarea></td>
        </tr>
    </table>    
    <br>
    <input type="submit">
</form>